<!DOCTYPE html>
<html>
<head>
	<title>列表渲染</title>
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
<div id="app">
	<form @submit.prevent="addNewTask">
		新增任务：<input type="" name="" v-model="newTaskTitle"><button>新增</button>
	</form>
	<ul>
		<li is='todo-item' v-for="(item, index) in tasks" :key="item.id" :index="index" :title="item.title" @remove="tasks.splice(index, 1)"></li>
	</ul>
</div>

<script type="text/javascript">
	Vue.component('todo-item', {
		template: '<li>{{ title }} <button @click="$emit(\'remove\')">删除</button></li>',
		props: ['title']
	});
	var app = new Vue({
		el: "#app",
		data: {
			newTaskTitle: "",
			newTaskId: 4,
			tasks: [
				{
					id: 1,
					title: "需求分析"
				},
				{
					id: 2,
					title: "开发评估"
				},
				{
					id: 3,
					title: "开发计划"
				},
			]
		},
		methods: {
			addNewTask: function () {
				if (this.newTaskTitle == '') {
					alert('任务名称不能为空');
					return false;
				}
				this.tasks.push({
					id: this.newTaskId++,
					title: this.newTaskTitle
				});
				this.newTaskTitle = '';
			}
		}
	});
</script>
</body>
</html>